{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}
<header>
        <h1>{{ store }}</h1>
    <p>Welcome to the most reliable sports shop!</p>
</header>

<p><a href="{% url 'main:show_main' %}"><button>Back</button></a> </p>

<h1>{{ product.title }}</h1>
<p><b>{{ product.category }}</b>{% if product.is_featured %} | <b>Featured</b>{% endif %}</p>

{% if product.thumbnail %}
<img src="{{ product.thumbnail }}" alt="{{ product.name }}">
<br />
{% endif %}

<p>{{ product.price }}</p>
{% if product.is_stock_available %} {{ product.stock }} {% else %} Out of stock! {% endif %}
<p>{{ product.rating }}/5</p>
<p>{{ product.brand }}</p>
<hr>
<p>{{ product.description }}</p>
<hr>
{% if product.user %}
    <h5>Seller: {{ product.user.username }}</h5>
{% else %}
    <h5>Seller: Official Store</h5>
{% endif %}
{% endblock %}